.row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .btn-add-telefone {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .btn-delete{
    margin-left: 10px;
  }
  .col-6 {
    flex: 1 1 calc(50% - 16px); /* 50% de largura com espaçamento */
    min-width: 300px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  /* Responsividade: No mobile os inputs ocupam 100% */
  @media (max-width: 768px) {
    .col-6 {
      flex: 1 1 100%;
    }
  }
  